@import "tailwindcss";

:root {
    background-color: black;
    color: white;
    font-weight: bold;
}
.home {
    margin: 5px;
    background-image: url("/game.jpg");
    background-repeat: no-repeat;
    opacity: 0.8;
    background-size: cover;
}